/*
 * YOU SHOULD NOT MODIFY THIS FILE
 * Edit the files in the "source" folder instead.
 * See project README
 *
 */
ApplicationPalette {
	qproperty-window: $base-bg;
	qproperty-windowtext: $base-text;
	qproperty-windowtext_disabled: $base-text-disabled;

	qproperty-base: $sub-bg;
	qproperty-alternatebase: $median-bg;
	qproperty-text: $sub-text;
	qproperty-text_disabled: $base-text-disabled;

	qproperty-tooltipbase: $sub-bg;
	qproperty-tooltiptext: $sub-text;
	qproperty-tooltiptext_disabled: $base-text-disabled;

	qproperty-brighttext: $highlight-text;
	qproperty-brighttext_disabled: $base-text-disabled;
	qproperty-highlight: $highlight-bg;
	qproperty-highlightedtext: $highlight-text;
	qproperty-highlightedtext_disabled: $base-text-disabled;

	qproperty-button: $button-bg;
	qproperty-buttontext: $sub-text;
	qproperty-buttontext_disabled: $base-text-disabled;

	qproperty-link: $link;
	qproperty-linkvisited: $link;

	qproperty-light: $base-border;
	qproperty-midlight: transparent;
	qproperty-mid: $base-border;
	qproperty-dark: transparent;
	qproperty-shadow: $base-border;
}

QObject,
QObject::separator,
QObject::handle,
QObject::tab-bar,
QObject::tab,
QObject::section
{
	font-family: $font-family;
	font-size: $font-size-normal;
	margin:0;
	padding:0;
	outline:0;
	border:0;
	selection-background-color:$highlight-bg;
	selection-color:$highlight-text;
	alternate-background-color:transparent;
	color:$base-text;
	border-radius:$base-border-radius;
}

QMainWindow,
QDockWidget
{
	background-color:$base-bg;
}

QDialog,
QWizard *,
QCalendarWidget *,
#qswPages > QObject
{
	background-color:$dialog-bg;
	color:$sub-text;
}

QObject:disabled,
QObject::item:disabled
{
	color:$base-text-disabled;
}

a
{
	color:$link;
	text-decoration:none;
}

QObject::separator
{
	height:4px;
	width:4px;
}

QObject::separator:hover
{
	background:$base-hover;
}

DockTitleBar
{
	font-size: $font-size-extra-small;
}

QToolTip,
QWhatsThis
{
	font-size:$font-size-small;
	min-height:1.3em;
	border: 1px solid $control-icon;
	border-radius: 0;
	background-color:$sub-bg;
	color:$sub-text;
}

QTextBrowser,
QTextEdit
{
	background-color:$sub-bg;
	color:$sub-text;
	border:1px solid $base-border;
}

QToolBar
{
	background-color:$base-bg;
	spacing:0;
	padding:2px;
}

QToolButton
{
	border:1px solid transparent;
	border-radius:$base-border-radius;
	padding:$base-padding - 3;
	margin:1px;
}

QToolButton:on
{
	background-color:$toolbutton-on;
	border:1px solid $toolbutton-border;
}

QToolButton:hover
{
	background-color:$toolbutton-hover;
	border:1px solid $toolbutton-hover-border;
}

QToolButton:pressed
{
	background-color:$toolbutton-pressed;
}

QToolBar::separator
{
	background:$sub-highlight;
	height:1px;
	margin:$base-padding;
	width:1px;
}

QToolBar::separator:hover
{
	background:$sub-highlight;
	border:0;
}

QToolButton#qt_toolbar_ext_button
{
	min-width:$base-padding*2;
	width:$base-padding*2;
	padding:1px;
	qproperty-icon:url(:res/controls/toolbar_ext.svg);
}

QToolBar::handle:horizontal
{
	image:url(:res/controls/handle_horizontal.svg);
	width:8px;
	padding:$base-padding;
}

QToolBar::handle:vertical
{
	image:url(:res/controls/handle_vertical.svg);
	height:8px;
	padding:$base-padding;
}

QMenuBar::item
{
	background-color:transparent;
	padding:$base-padding 12px;
}

QMenuBar::item:selected
{
	background:$highlight-bg;
	color:$highlight-text;
}

QMenuBar::item:pressed
{
	background:$highlight-pressed;
	color:$highlight-text;
}

QMenu
{
	background:$menu-bg;
	border:1px solid $base-border;
	color:$sub-text;
}

QMenu::item
{
	border:1px solid transparent;
	color:$sub-text;
	padding:$base-padding + 1 $base-padding * 4;
	padding-left:25px;
	border-radius:$base-border-radius;
}

QMenu::item:selected
{
	background:$menuitem-hover;
	border:1px solid $menuitem-border;
}

QMenu::item:disabled
{
	border:1px solid transparent;
	background:transparent;
}

QMenu::separator
{
	background:$sub-highlight;
	height:1px;
}

QMenu::indicator
{
	padding-top: 2px;
	height:25px;
	width:25px;
}

QPushButton
{
	background-color:$button-bg;
	border:$button-border;
	color:$sub-text;
	font-size: $font-size-big;
	padding: $base-padding - 1 $base-padding*4+4;
}

QPushButton:focus
{
	background-color:$button-focus;
}

QPushButton:hover
{
	background-color:$button-hover;
	border-color:$button-hover-border;
}

QPushButton:hover:focus
{
	background-color:$button-focus-hover-bg;
	border-color:$button-focus-hover-border;
}

QPushButton:focus
{
	border-color:$base-border-focus;
}

QPushButton:pressed,
QPushButton:pressed:focus
{
	background-color:$highlight-bg;
	border-color:$highlight-bg;
	color:$highlight-text;
}

QGroupBox,
#qwMacWarning,
#qwInlineNotice
{
	background-color:$median-bg;
	border:1px solid $base-border;
	color:$sub-text;
	font-size: $font-size-bigger;
	padding:$base-padding;
	padding-top:1em;
}

QGroupBox::title
{
	background-color:transparent;
	margin:$base-padding * 1.5;
	margin-left:$base-padding + 4;
	margin-right:$base-padding * 2;
}

QListView
{
	background-color:$sub-bg;
	border:1px solid $base-border;
}

QListView::item
{
	border-radius:$base-border-radius;
	border:1px solid transparent;
	color:$sub-text;
	selection-color:$sub-text;
	padding:$base-padding/2 $base-padding;
}

QListView::item:hover
{
	background-color:$sub-hover;
	border:1px solid $sub-hover;
}

QListView::item:selected
{
	background-color:$item-selected-inactive-bg;
	border:$item-selected-inactive-border;
}

QListView::item:selected:active
{
	background-color:$item-selected-active-bg;
	border:$item-selected-active-border;
}

QTreeView
{
	background-color:$sub-bg;
	color:$sub-text;
	selection-background-color:$sub-bg;
	selection-color:$sub-text;
	border:1px solid $base-border;
}

QTreeView::item
{
	min-width:60px;
	border:1px solid transparent;
	border-left:0;
	border-right:0;
	color:$sub-text;
	padding:$base-padding/2 $base-padding;
	selection-color:$sub-text;
	border-radius:0;
}

QTreeView::item:first,
QTreeView::item:only-one
{
	border-left:1px solid transparent;
	border-top-left-radius:$base-border-radius;
	border-bottom-left-radius:$base-border-radius;
}

QTreeView::item:last,
QTreeView::item:only-one
{
	border-right:1px solid transparent;
	border-top-right-radius:$base-border-radius;
	border-bottom-right-radius:$base-border-radius;
}

QTreeView::item:hover,
QTreeView::item:focus
{
	background-color:$sub-hover;
	border-color:$sub-hover;
}

QTreeView::item:selected
{
	background-color:$item-selected-inactive-bg;
	border:$item-selected-inactive-border;
	border-right:0;
	border-left:0;
}

QTreeView::item:selected:first,
QTreeView::item:selected:only-one
{
	border-left:$item-selected-inactive-border;
}

QTreeView::item:selected:last,
QTreeView::item:selected:only-one
{
	border-right:$item-selected-inactive-border;
}

QTreeView::item:selected:active
{
	background-color:$item-selected-active-bg;
	border:$item-selected-active-border;
	border-right:0;
	border-left:0;
}

QTreeView::item:selected:active:first,
QTreeView::item:selected:active:only-one
{
	border-left:$item-selected-active-border;
}

QTreeView::item:selected:active:last,
QTreeView::item:selected:active:only-one
{
	border-right:$item-selected-active-border;
}

QTreeView::branch
{
	border-image:none;
	image:none;
	margin-left:3px;
	margin-top:1px;
	padding-left:3px;
}

QTreeView::branch:has-children:closed
{
	image:url(:res/controls/branch_closed.svg);
}

QTreeView::branch:has-children:open
{
	image:url(:res/controls/branch_open.svg);
}

QHeaderView
{
	border-bottom:1px solid $base-border;
	border-radius:0;
}

QHeaderView::section
{
	border:0;
	background-color:$median-bg;
	color:$sub-text;
	padding:$base-padding;
	padding-left:$base-padding * 2;
	padding-right: 20px;
	border-radius:0;
}

QHeaderView::down-arrow,
QHeaderView::up-arrow
{
	margin:1px;
	top:1px;
	right:5px;
	width:14px;
}

QHeaderView::down-arrow
{
	image:url(:res/controls/arrow_down.svg);
}

QHeaderView::up-arrow
{
	image:url(:res/controls/arrow_up.svg);
}

QTabWidget::pane
{
	background-color:$median-bg;
	border:1px solid $base-border;
}

QTabWidget::pane:top
{
	margin-top:-1px;
	border-radius:$base-border-radius;
	border-top-left-radius:0;
}


QTabWidget::pane:bottom
{
	margin-bottom:-1px;
	border-radius:$base-border-radius;
	border-bottom-left-radius:0;
}

QTabWidget::tab-bar
{
	background-color:$dialog-bg;
}

QTabBar::tab
{
	color:$tab-deselected-text;
	background-color:$tab-deselected;
	padding:$base-padding * 1.5 $base-padding * 4;
	border-radius:0;
	border:1px solid $base-border;
	border-right:0;
}

QTabBar::tab:last,
QTabBar::tab:only-one
{
	border-right:1px solid $base-border;
}

QTabBar::tab:hover
{
	background-color:$tab-hover;
}

QTabBar::tab:disabled
{
	color:$base-text-disabled;
}

QTabBar::tab:selected,
{
	color:$sub-text;
	background-color:$median-bg;
}

QTabBar::tab:top
{
	border-bottom:0;
	margin-bottom:1px;
}

QTabBar::tab:bottom
{
	border-top:0;
	margin-top:1px;
}

QTabBar::tab:top:selected
{
	padding-bottom:$base-padding * 1.5 + 1;
	margin-bottom:0;
}

QTabBar::tab:bottom:selected
{
	padding-top:$base-padding * 1.5 + 1;
	margin-top:0;
}

QTabBar::tab:top:first,
QTabBar::tab:top:only-one
{
	border-top-left-radius:$base-border-radius;
}

QTabBar::tab:top:last,
QTabBar::tab:top:only-one
{
	border-top-right-radius:$base-border-radius;
}

QTabBar::tab:bottom:first,
QTabBar::tab:bottom:only-one
{
	border-bottom-left-radius:$base-border-radius;
}

QTabBar::tab:bottom:last,
QTabBar::tab:bottom:only-one
{
	border-bottom-right-radius:$base-border-radius;
}

QScrollBar
{
	border-radius:0;
	font-size: $font-size-normal;
}

QScrollBar:vertical
{
	border-left:1px solid $scrollbar-border;
	width:1em;
}

QScrollBar:horizontal
{
	border-top:1px solid $scrollbar-border;
	height:1em;
}

QScrollBar::handle
{
	margin:-1px;
	background:$scrollbar-handle;
	border:1px solid $scrollbar-handle-border;
}

QScrollBar::handle:vertical
{
	min-height:10px;
}

QScrollBar::handle:horizontal
{
	min-width:10px;
}

QScrollBar::handle:hover
{
	background:$scrollbar-handle-hover;
}

QScrollBar::left-arrow,
QScrollBar::right-arrow,
QScrollBar::up-arrow,
QScrollBar::down-arrow,
QScrollBar::sub-line,
QScrollBar::add-line,
QScrollBar::add-page,
QScrollBar::sub-page
{
	background:$base-bg;
	height:0;
	width:0;
	border-radius:0;
	border:0;
}

QAbstractScrollArea::corner
{
	border-left:1px solid $scrollbar-border;
	border-top:1px solid $scrollbar-border;
	height:0;
	width:0;
	border-radius:0;
	border-top:1px solid $scrollbar-border;
	border-left:1px solid $scrollbar-border;
	background:$sub-bg;
}

QLineEdit,
QComboBox,
QSpinBox,
QAbstractSpinBox
{
	color:$sub-text;
	padding:$base-padding;
	min-height:1em;
}

QComboBox,
QSpinBox,
QAbstractSpinBox
{
	border:$button-border;
	background-color:$button-bg;
}

QLineEdit,
QTextEdit,
QPlainTextEdit,
QSpinBox,
QAbstractSpinBox,
QComboBox:editable
{
	border:$input-border;
	background-color:$input-bg;
}

QSpinBox,
QAbstractSpinBox
{
	min-width: 2.5em;
	padding-right: 10px;
}

QPushButton:disabled,
QLineEdit:disabled,
QTextEdit:disabled,
QPlainTextEdit:disabled,
QListWidget:disabled,
QTreeWidget:disabled,
QComboBox:disabled,
QSpinBox:disabled,
QAbstractSpinBox:disabled
{
	border:1px solid transparent;
	background-color:$control-disabled;
}

QComboBox::drop-down,
QAbstractSpinBox::drop-down,
QSpinBox::drop-down,
QDateTimeEdit::drop-down
{
	background-color:$sub-bg;
	border:0;
	margin-left:$base-padding;
	margin-right:$base-padding * 3;
	margin-top:5px;
}

QComboBox::down-arrow,
QDateTimeEdit::down-arrow
{
	margin-top: -2px;
	image:url(:res/controls/arrow_down.svg);
	width:14px;
}

QComboBox::down-arrow:disabled,
QDateTimeEdit::down-arrow:disabled
{
	image:url(:res/controls/arrow_down_disabled.svg);
}

QToolButton[popupMode="1"],
QToolButton[popupMode="2"],
QPushButton[popupMode="1"],
QPushButton[popupMode="2"]
{
	padding-right: 14px;
}

QToolButton::menu-arrow,
QToolButton::menu-indicator,
QPushButton::menu-arrow,
QPushButton::menu-indicator
{
	image:url(:res/controls/arrow_down.svg);
	subcontrol-origin: padding;
	subcontrol-position: center right;
	top:2px;
	right:2px;
	width:14px;
}

QSpinBox::down-button,
QAbstractSpinBox::down-button,
{
	padding-right:4px;
	image:url(:res/controls/arrow_down.svg);
	width:14px;
	padding-bottom:1px;
}

QSpinBox::down-button:disabled,
QAbstractSpinBox::down-button:disabled,
{
	image:url(:res/controls/arrow_down_disabled.svg);
}

QSpinBox::up-button,
QAbstractSpinBox::up-button
{
	padding-right:4px;
	image:url(:res/controls/arrow_up.svg);
	width:14px;
	padding-top:1px;
}

QSpinBox::up-button:disabled,
QAbstractSpinBox::up-button:disabled,
{
	image:url(:res/controls/arrow_up_disabled.svg);
}

QComboBox QAbstractItemView
{
	background-color:$sub-bg;
	border:1px solid $base-border;
	color:$sub-text;
	border-radius:0;
}

QLabel,
QCheckBox,
QAbstractCheckBox,
QTreeView::indicator,
QRadioButton
{
	color:$sub-text;
	background:transparent;
}

QCheckBox::indicator,
QTreeView::indicator,
{
	background-color:$button-bg;
	border:$button-border;
	height:13px;
	width:13px;
	margin-top: 1px;
}

QMenu::indicator
{
	width: 12px;
	left: 6px;
}

QCheckBox::indicator:checked,
QMenu::indicator:checked,
QTreeView::indicator:checked
{
	image:$checkbox;
}

QCheckBox::indicator:disabled,
QTreeView::indicator:disabled
{
	border:1px solid $median-bg;
	background-color:$control-disabled;
}

QCheckBox::indicator:checked:disabled,
QTreeView::indicator:checked:disabled
{
	border:1px solid transparent;
	image:$checkbox-disabled;
}

QRadioButton::indicator
{
	background:$button-bg;
	border:$button-border;
	border-radius:7px;
	height:12px;
	width:12px;
}

QTreeView::indicator
{
	background:$button-bg;
}

QRadioButton::indicator:disabled
{
	background-color:$control-disabled;
	margin:1px;
	border:1px solid transparent;
}

QRadioButton::indicator:checked
{
	image:$radio;
}

QRadioButton::indicator:checked:disabled
{
	image:$radio_disabled;
}

QSlider::groove
{
	background:$slider-groove;
	border:1px solid $slider-groove-border;
	border-radius:2px;
	font-size: $font-size-qslider-groove;
}

QSlider::groove:horizontal
{
	height:0.8em;
}

QSlider::groove:vertical
{
	width:0.8em;
}

QSlider::groove:disabled,
QSlider::sub-page:disabled
{
	background:$control-disabled;
	border:1px solid transparent;
	border-radius:2px;
}

QSlider::sub-page
{
	background: $slider-fill;
	border:1px solid $slider-fill-border;
	border-radius:2px;
}

QSlider::handle
{
	background:$slider-handle;
	border:1px solid $slider-handle-border;
	border-radius:3px;
	font-size: $font-size-qslider-handle;
}

QSlider::handle:horizontal
{
	margin:-5px -1px;
	width:4.5em;
}

QSlider::handle:vertical
{
	margin:-1px -5px;
	height:4.5em;
}

QSlider::handle:focus
{
	background-color:$slider-handle-focus;
	border-color:$slider-handle-focus-border;
}

QSlider::handle:hover
{
	background-color:$slider-handle-hover;
}

QSlider::handle:pressed
{
	background-color:$slider-handle-pressed;
	border-color:$slider-handle-pressed-border;
}

QSlider::handle:disabled
{
	background-color:$control-disabled;
	border:1px solid $control-disabled;
}

QCheckBox::indicator:focus,
QTreeView::indicator:focus,
QRadioButton::indicator:focus,
QComboBox:focus
{
	background-color:$button-focus;
}

QCheckBox::indicator:focus:hover,
QTreeView::indicator:focus:hover,
QRadioButton::indicator:focus:hover,
QComboBox:focus:hover
{
	background-color:$button-focus-hover-bg;
	border-color:$button-focus-hover-border;
}

QCheckBox::indicator:hover,
QTreeView::indicator:hover,
QRadioButton::indicator:hover,
QComboBox:hover
{
	background-color:$button-hover;
	border-color:$button-hover-border;
}

QLineEdit:focus,
QSpinBox:focus,
QAbstractSpinBox:focus,
QComboBox:editable:focus
{
	background-color:$input-bg;
}

QLineEdit:focus:hover,
QSpinBox:focus:hover,
QAbstractSpinBox:focus:hover,
QComboBox:editable:focus:hover
{
	border-color:$button-focus-hover-border;
}

QLineEdit:hover,
QSpinBox:hover,
QAbstractSpinBox:hover,
QComboBox:editable:hover
{
	background-color:$input-bg;
	border-color:$button-hover-border;
}

QCheckBox::indicator:focus,
QTreeView::indicator:focus,
QRadioButton::indicator:focus,
QComboBox:focus,
QLineEdit:focus,
QTextEdit:focus,
QPlainTextEdit:focus,
QSpinBox:focus,
QAbstractSpinBox:focus,
QComboBox:editable:focus
{
	border-color:$base-border-focus;
}

QFontDialog
{
	min-width: 32em;
	min-height: 24em;
}

QColorDialog QColorLuminancePicker
{
	background-color:transparent;
}

QMessageBox,
QDialogButtonBox
{
	dialogbuttonbox-buttons-have-icons: 0;
}

/* Mumble Specifics */

LogTextBrowser,
#qdsChat
{
	margin:0 2px;
	min-height:120px;
	min-width:40px;
	border-color:$base-border;
}

UserView
{
	margin:0 2px;
	min-height:120px;
	min-width:40px;
}

UserView::item
{
	padding:0;
	padding-top:-1px;
}

#qdwChat > QTextEdit
{
	padding:-2px;
	margin:0 2px;
	margin-bottom:2px;
	font-size: $font-size-normal;
}

#qtIconToolbar QComboBox
{
	font-size: $font-size-small;
}

.log-time
{
	background-color:transparent;
	color:#95a5a6;
	font-size: $font-size-medium;
}

.log-server
{
	background-color:transparent;
	color:#F9655D;
	font-weight:bold;
}

.log-channel
{
	background-color:transparent;
	color:#e67e22;
	font-weight:bold;
}

.log-privilege
{
	background-color:transparent;
	color:#c0392b;
	font-weight:bold;
}

.log-target
{
	background-color:transparent;
	color:#27ae60;
	font-weight:bold;
}

.log-source
{
	background-color:transparent;
	color:#27ae60;
	font-weight:bold;
}

QListView#qlwIcons
{
	padding:0;
	background-color:transparent;
	border:0;
	font-size: $font-size-big;
	min-width:165%;
	margin-left:$base-padding;
	margin-top:$base-padding + 8;
}


QListView#qlwIcons::item
{
	margin-bottom:1px;
	padding:5px $base-padding * 2 - 1;
}


QListView#qlwIcons::item:hover
{
	border-color:$base-hover;
	background-color:$base-hover;
}

QListView#qlwIcons::item:selected
{
	background-color:$toolbutton-on;
	border:1px solid $toolbutton-border;
}

QListView#qlwIcons::item:focus
{
	background-color:$item-selected-active-bg;
	border:$item-selected-active-border;
}

QSlider
{
	margin-left:30px;
	margin-right:30px;
}

#qswPages > * > * > QScrollBar
{
	margin:0;
}

#qswPages > * > QWidget
{
	margin: $base-padding / 2;	
}

QListView::item QListWidgetItem,
QListView::item QLineEdit,
QTreeView::item QComboBox,
QTreeView::item QLineEdit
{
	background:$button-bg;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: $base-padding;
	padding-right: $base-padding;
	font-size: $font-size-medium;
}

QListView::item QListWidgetItem:hover,
QListView::item QLineEdit:hover,
QTreeView::item QComboBox:hover,
QTreeView::item QLineEdit:hover
{
	background:$button-bg;
}

AboutDialog > QTextBrowser,
AboutDialog QTextEdit
{
	border:0;
}

#qtbToolBar
{
        border:1px solid transparent;
	background:transparent;
}

#BanEditor
{
	min-width: 600px;
}

#GlobalShortcutTarget
{
	min-height: 600px;
}

ViewCert
{
	min-height: 600px;
}